body 
{   
    font-family: 'Montserrat', sans-serif;
    background-color: coral;
    text-align: center;
    justify-self: center;
    text-align: center;
    font-size: 2rem;
}

input 
{
    height: 4rem;
    width: 20rem;
    text-align: center;
    font-size: 2rem;
}

button 
{
    width: 10.1rem;
    height: 4rem;
    border-radius: 5%;
}

#add
{
    background-color:rgb(96, 214, 96);
    font-size: 1.2rem;
}

#clear
{
    background-color: rgba(243, 22, 22, 0.885);
    font-size: 1.2rem;
}

#formItem label
{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85rem;
}
