body 
{   
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    justify-self: center;
    text-align: center;
    font-size: 1rem;
}


input 
{
    display: flex;
    height: 4rem;
    width: 20rem;
    text-align: center;
    font-size: 1rem;
}

button 
{
    width: 10rem;
    height: 4rem;
    border-radius: 5%;
}

#add
{
    background-color:rgba(152, 251, 225, 0.576);
    font-size: 1.2rem;
}

#clear
{
    background-color: rgba(240, 52, 52, 0.364);
    font-size: 1.2rem;
}

#formItem label
{   
    line-height: 150%;
    font-size: .85rem;
    padding:  2rem ;
    border: 2px solid black;
    height: 500px;
    width: 600px;
    background: transparent;
    color: rgba(0, 0, 0, 0.378);
}

.counter 
{
    color: rgb(107, 91, 255);
}

